body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background: url('/images/photo-glass-of-cold-fresh-beer.webp') #000;
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 33%;
  color: #fff;
}


nav a {
  color: burlywood;
}

.beers {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.beer {
  width: 25%;
  border: solid 1px #fff;
  padding: 5px;
  margin: 10px;
}

.form {
  margin: 10px 0;
}

form label {
  width: 100px;
  display: inline-block;
}

.error {
  color: #ff5500;
}

.btn {
  border: solid 1px #ddd;
  background: #333;
  color: #fff;
  padding: 2px 5px;
  margin: 2px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
}

form input, form select {
  margin: 2px;
}

.img-preview {
  height: 150px;
  display: block;
  margin: 5px 5px 5px 105px;
}

.beer img {
  max-width: 150px;
  display: inline-block;
}


table {
  border-collapse: collapse;
}

table tr:hover {
  background: #333;
}

table th {
  background: #000;
}

table td {
  padding: 2px 5px;
}

.save {
  background: #4d9315;
}

.edit {
  background: #2c2c99;
}

.delete {
  background: #9f5416;
}